<div class="row" *ngIf="isForm">
  <form name="gitForm" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-12">
        <input type="text" class="form-control input-lg mb15 user-input" id="username" name="Username" autocomplete="off" placeholder="GitHub Username" [(ngModel)]="user" #userInput="ngModel">
        <button type="submit" class="btn btn success btn- lg btn-block">Search GitHub User</button>
      </div>
   </div>
  </form>
      
</div>

<div class="container">
  <div class="col-6"></div>
</div>

{{userData.login}}
<img src="{{userData.avatar_url}}" alt="" style="height: 120px;">
{{userData.created_at}}


<button>

  <a href="{{userData.html_url}}">user profile</a>
</button>


