<div class="row" *ngIf="isForm">
  <form name="gitForm" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-12">
        <input type="text" class="form-control input-lg mb15 user-input" id="username" name="Username" autocomplete="off" placeholder="GitHub Username" [(ngModel)]="user" #userInput="ngModel">
        <button type="submit" class="btn btn success btn- lg btn-block">Search GitHub User</button>
      </div>
   </div>
  </form>
      
</div>

<div class="container">
  <div class="col-6"></div>
</div>

{{userData.login}}
<img src="{{userData.avatar_url}}" alt="" style="height: 100px;">
{{userData.created_at}}


<button>

  <a href="{{userData.html_url}}">user profile</a>
</button>



<!-- <div class="container bg-dark"  *ngIf="isUser">
  <div class="col-6">Name: {{userData.name}} </div>
  <img src="{{userData.avatar_url}}" class="repo-image">
  <div class="col-6">Joined: {{userData.created_at}}</div>
  <div class="col-6">Last Updated: {{userData.updated_at}}</div>
  <div class="col-6">Number of Repositories: {{public_repos}}</div>
  <div class="row">
    <div class="col-md-1">
      <div class="col-md-4" *ngFor='let repoDetail of repoDetails'>
        <h3>{{repoDetail['name']}}</h3>
       <p class="bio"></p>
       <p class="stat">Created at:  <strong>{{repoDetail['created_at']}}</strong></p>
       <p class="stat">Last Update:  <strong>{{repoDetail['updated_at']}}</strong></p>
       <p class="stat">Description: <strong>{{repoDetail['description']}}</strong></p>
       <p class="stat">Languages Used: <strong>{{repoDetail['language']}}</strong></p>
      </div>
    </div>
  </div>
</div -->
