input#username {
    width: 30%;
    height: 7vh;
    font-size: larger;
    font-weight: 700;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    margin: 50px;
    

    
}

button.btn.btn.success.btn-.lg.btn-block{
    width: 30%;
    height: 9vh;
    font-size: larger;
    font-weight: 700;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    margin: 50px;
    
}
